<footer>
    <div class="site-map">
        <ul class="tema">
            <li><h2>Ficção</h2></li>
            <ul>
                <li><a href="">Cientifica</a></li>
                <li><a href="">Romance</a></li>
                <li><a href="">Terror</a></li>
            </ul>
        </ul>
        <ul class="tema">
            <li><h2>Didático</h2></li>
            <ul>
                <li><a href="">Cientifica</a></li>
                <li><a href="">Romance</a></li>
                <li><a href="">Terror</a></li>
            </ul>
        </ul>
        <ul class="tema">
            <li><h2>Empreendedorismo</h2></li>
            <ul>
                <li><a href="">Cientifica</a></li>
                <li><a href="">Romance</a></li>
                <li><a href="">Terror</a></li>
            </ul>
        </ul>
        <ul class="tema">
            <li><h2>Histórico</h2></li>
            <ul>
                <li><a href="">Cientifica</a></li>
                <li><a href="">Romance</a></li>
                <li><a href="">Terror</a></li>
            </ul>
        </ul>
        <ul class="tema">
            <li><h2>Leitura Rápida</h2></li>
            <ul>
                <li><a href="">Tutoriais</a></li>
            </ul>
        </ul>
        <ul class="tema">
            <li><h2>PPC</h2></li>
            <ul>
                <li><a href="">Poemas</a></li>
                <li><a href="">Poesias</a></li>
                <li><a href="">Composições</a></li>
            </ul>
        </ul>
        <ul class="tema">
            <li><h2>Contos</h2></li>
            <ul>
                <li><a href="">Poemas</a></li>
                <li><a href="">Poesias</a></li>
                <li><a href="">Composições</a></li>
            </ul>
        </ul>
        <ul class="tema">
            <li><h2>Espitualidade</h2></li>
            <ul>
                <li><a href="">Poemas</a></li>
                <li><a href="">Poesias</a></li>
                <li><a href="">Composições</a></li>
            </ul>
        </ul>
        <ul class="tema">
            <li><h2>Configurações</h2></li>
            <ul>
                <li><a href="">Configurações</a></li>
            </ul>
        </ul>
    </div>
    <div class="logo-site">
        <h5>Disturb</h5>
    </div>
</footer>