.x-conteudo{
    padding: 0px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 90px;
    box-sizing: border-box;
    input[type=text]{
        .inputs-text1();
    }
    &__menuTabs{
        display: flex;
        input[type=radio]{
            -webkit-appearance: none;
        }
        label{
            max-width: 250px;
            min-width: 150px;
            width: 25%;
            height: 50px;
            background: @p-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: @p-dark solid 2px;
            color: @white;
            &:hover{
                background: @p-dark;
                cursor: pointer;
            }
        }
    }
    &__container{
        .x-toggles{
            display: flex;
            align-items: center;
            h5{
                color: @font-color1;
                font-size: @f-large;
                font-family: @serif;
                margin-left: 10px;
                font-weight: lighter;
                text-transform: uppercase;
            }
        }
        .x-h4{
            font-size: @f-xs;
            font-family: @serif;
            color: @font-color1;
            font-weight: bold;
            text-align: center;
            padding: 20px 0;
        }
    }
    .x-saveButton{
        width: 200px;
        height: 40px;
        border: none;
        color: @white;
        margin-top: 20px;
        background: @p-color;
        cursor: pointer;
        transition: @hyperRapido;
        -webkit-transition: @muitoRapido;
        &:hover{
            background: @s-color;
            transform: scale(0.95);
        }
    }
    .x-fileLabel{
        display: block;
        align-items: center;
        margin-top: 10px;
        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
            .x-span{
                &--arquivo{
                    width: 70%;
                    height: 40px;
                    padding: 10px;
                    border: 1px solid #ced4da;
                    border-bottom-left-radius: 0.25rem;
                    border-top-left-radius: 0.25em;
                    display: flex;
                    align-items: center;
                    color: @font-color1;
                    font-family: @serif;
                    font-weight: bold;
                    font-size: @f-medium;
                }
            }
        }
        .x-label{
            &--file{
                .input-file1();
                img{
                    width: 32px;
                    margin: 10px;
                }
            }
        }
    }
    &__file{
        display: none;
    }
    .x-colors{
        height: 50px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 1px solid @gray-light;
        border-radius: .25rem;
        margin-top: 15px;
        align-items: center;
        cursor: pointer;
        transition: @muitoRapido;
        -webkit-transition: @muitoRapido;
        &:hover{
            background: @s-color;
        }
        label{
            color: @font-color1;
            text-transform: uppercase;
            font-size: @f-medium;
            padding: 0 0 10px 0;
            display: block;
            width: 100%;
            cursor: pointer;
        }
        input{
            border: none;
            background: none;
            width: 100%;
            outline: none;
            cursor: pointer;
        }
    }
    #tab-1{

    }
    #tab-2{
        display: none;
    }
    #tab-3{
        display: none;
    }
    #tab-4{
        display: none;
    }
    &__inputs{
        margin-top: 20px;
    }
}