<div *ngIf="select === 'fic-cientifica'">
  <div class="book">      
      <div class="backBook">
        <div class="backBook__top">
          <h3 class="titulo">O vendedor de sonhos</h3>
          <h4 class="autor">Augusto Cury</h4>
          <h6 class="ano_lancamento">2019</h6>
          <h6 class="idioma">Português - Brasil</h6>
        </div>
        <p>
            Aposto que você quer, no final da sua vida, olhar para trás, 
            bater no peito com o coração cheio de felicidade, sem falsa modéstia, 
            com plena convicção e serenidade, e dizer: minha vida foi FODA. 
            Mas calma, encontrar este livro é só o começo. Agora, você precisa levá-lo 
            com você. Com ele, você vai aprender comportamentos e atitudes necessários 
            para conquistar, em todos os aspectos da sua vida, resultados incríveis. 
            Ele vai provocar e inspirar você não só a ter o espírito elevado e sonhar 
            com coisas inimagináveis, mas também se tornar consciente do que precisa 
            fazer para realizar cada um desses sonhos. Vamos juntos?
        </p>
        <div class="backBook__bottom">
          <button>mais</button>
          <button>ler</button>
        </div>
      </div>
      <div class="frontBook"><img src="../../../../../../assets/img/capa1.png" alt=""></div>
  </div>
  <div class="book">
    <div class="backBook">
        <div class="backBook__top">
          <h3 class="titulo">O vendedor de sonhos</h3>
          <h4 class="autor">Augusto Cury</h4>
          <h6 class="ano_lancamento">2019</h6>
          <h6 class="idioma">Português - Brasil</h6>
        </div>
        <p>
            Aposto que você quer, no final da sua vida, olhar para trás, 
            bater no peito com o coração cheio de felicidade, sem falsa modéstia, 
            com plena convicção e serenidade, e dizer: minha vida foi FODA. 
            Mas calma, encontrar este livro é só o começo. Agora, você precisa levá-lo 
            com você. Com ele, você vai aprender comportamentos e atitudes necessários 
            para conquistar, em todos os aspectos da sua vida, resultados incríveis. 
            Ele vai provocar e inspirar você não só a ter o espírito elevado e sonhar 
            com coisas inimagináveis, mas também se tornar consciente do que precisa 
            fazer para realizar cada um desses sonhos. Vamos juntos?
        </p>
        <div class="backBook__bottom">
          <button>mais</button>
          <button>ler</button>
        </div>
      </div>
    <div class="frontBook"><img src="../../../../../../assets/img/capa2.jpg" alt=""></div>
  </div>
  <div class="book">    
    <div class="backBook">
        <div class="backBook__top">
          <h3 class="titulo">O vendedor de sonhos</h3>
          <h4 class="autor">Augusto Cury</h4>
          <h6 class="ano_lancamento">2019</h6>
          <h6 class="idioma">Português - Brasil</h6>
        </div>
        <p>
            Aposto que você quer, no final da sua vida, olhar para trás, 
            bater no peito com o coração cheio de felicidade, sem falsa modéstia, 
            com plena convicção e serenidade, e dizer: minha vida foi FODA. 
            Mas calma, encontrar este livro é só o começo. Agora, você precisa levá-lo 
            com você. Com ele, você vai aprender comportamentos e atitudes necessários 
            para conquistar, em todos os aspectos da sua vida, resultados incríveis. 
            Ele vai provocar e inspirar você não só a ter o espírito elevado e sonhar 
            com coisas inimagináveis, mas também se tornar consciente do que precisa 
            fazer para realizar cada um desses sonhos. Vamos juntos?
        </p>
        <div class="backBook__bottom">
          <button>mais</button>
          <button>ler</button>
        </div>
      </div>
    <div class="frontBook"><img src="../../../../../../assets/img/capa3.png" alt=""></div>
  </div>
  <div class="book">   
    <div class="backBook">
        <div class="backBook__top">
          <h3 class="titulo">O vendedor de sonhos</h3>
          <h4 class="autor">Augusto Cury</h4>
          <h6 class="ano_lancamento">2019</h6>
          <h6 class="idioma">Português - Brasil</h6>
        </div>
        <p>
            Aposto que você quer, no final da sua vida, olhar para trás, 
            bater no peito com o coração cheio de felicidade, sem falsa modéstia, 
            com plena convicção e serenidade, e dizer: minha vida foi FODA. 
            Mas calma, encontrar este livro é só o começo. Agora, você precisa levá-lo 
            com você. Com ele, você vai aprender comportamentos e atitudes necessários 
            para conquistar, em todos os aspectos da sua vida, resultados incríveis. 
            Ele vai provocar e inspirar você não só a ter o espírito elevado e sonhar 
            com coisas inimagináveis, mas também se tornar consciente do que precisa 
            fazer para realizar cada um desses sonhos. Vamos juntos?
        </p>
        <div class="backBook__bottom">
          <button>mais</button>
          <button>ler</button>
        </div>
      </div>
    <div class="frontBook"><img src="../../../../../../assets/img/capa4.jpg" alt=""></div> 
  </div>
  <div class="book">
    <div class="backBook">
        <div class="backBook__top">
          <h3 class="titulo">O vendedor de sonhos</h3>
          <h4 class="autor">Augusto Cury</h4>
          <h6 class="ano_lancamento">2019</h6>
          <h6 class="idioma">Português - Brasil</h6>
        </div>
        <p>
            Aposto que você quer, no final da sua vida, olhar para trás, 
            bater no peito com o coração cheio de felicidade, sem falsa modéstia, 
            com plena convicção e serenidade, e dizer: minha vida foi FODA. 
            Mas calma, encontrar este livro é só o começo. Agora, você precisa levá-lo 
            com você. Com ele, você vai aprender comportamentos e atitudes necessários 
            para conquistar, em todos os aspectos da sua vida, resultados incríveis. 
            Ele vai provocar e inspirar você não só a ter o espírito elevado e sonhar 
            com coisas inimagináveis, mas também se tornar consciente do que precisa 
            fazer para realizar cada um desses sonhos. Vamos juntos?
        </p>
        <div class="backBook__bottom">
          <button>mais</button>
          <button>ler</button>
        </div>
      </div>
    <div class="frontBook"><img src="../../../../../../assets/img/capa5.jpg" alt=""></div>
  </div>
  <div class="book">
      <div class="backBook">
          <div class="backBook__top">
            <h3 class="titulo">O vendedor de sonhos</h3>
            <h4 class="autor">Augusto Cury</h4>
            <h6 class="ano_lancamento">2019</h6>
            <h6 class="idioma">Português - Brasil</h6>
          </div>
          <p>
              Aposto que você quer, no final da sua vida, olhar para trás, 
              bater no peito com o coração cheio de felicidade, sem falsa modéstia, 
              com plena convicção e serenidade, e dizer: minha vida foi FODA. 
              Mas calma, encontrar este livro é só o começo. Agora, você precisa levá-lo 
              com você. Com ele, você vai aprender comportamentos e atitudes necessários 
              para conquistar, em todos os aspectos da sua vida, resultados incríveis. 
              Ele vai provocar e inspirar você não só a ter o espírito elevado e sonhar 
              com coisas inimagináveis, mas também se tornar consciente do que precisa 
              fazer para realizar cada um desses sonhos. Vamos juntos?
          </p>
          <div class="backBook__bottom">
            <button>mais</button>
            <button>ler</button>
          </div>
        </div>
      <div class="frontBook"><img src="../../../../../../assets/img/capa6.png" alt=""></div>
    </div>
    <div class="book">
        <div class="backBook">
            <div class="backBook__top">
              <h3 class="titulo">O vendedor de sonhos</h3>
              <h4 class="autor">Augusto Cury</h4>
              <h6 class="ano_lancamento">2019</h6>
              <h6 class="idioma">Português - Brasil</h6>
            </div>
            <p>
                Aposto que você quer, no final da sua vida, olhar para trás, 
                bater no peito com o coração cheio de felicidade, sem falsa modéstia, 
                com plena convicção e serenidade, e dizer: minha vida foi FODA. 
                Mas calma, encontrar este livro é só o começo. Agora, você precisa levá-lo 
                com você. Com ele, você vai aprender comportamentos e atitudes necessários 
                para conquistar, em todos os aspectos da sua vida, resultados incríveis. 
                Ele vai provocar e inspirar você não só a ter o espírito elevado e sonhar 
                com coisas inimagináveis, mas também se tornar consciente do que precisa 
                fazer para realizar cada um desses sonhos. Vamos juntos?
            </p>
            <div class="backBook__bottom">
              <button>mais</button>
              <button>ler</button>
            </div>
          </div>
        <div class="frontBook"><img src="../../../../../../assets/img/capa7.png" alt=""></div>
      </div>
  <!-- <div class="frontBook"><img src="" alt=""></div>
  <div class="frontBook"><img src="" alt=""></div>
  <div class="frontBook"><img src="" alt=""></div>
  <div class="frontBook"><img src="" alt=""></div>
  <div class="frontBook"><img src="" alt=""></div>
  <div class="frontBook"><img src="" alt=""></div>
  <div class="frontBook"><img src="" alt=""></div>
  <div class="frontBook"><img src="" alt=""></div>
  <div class="frontBook"><img src="" alt=""></div>
  <div class="frontBook"><img src="" alt=""></div>
  <div class="frontBook"><img src="" alt=""></div>
  <div class="frontBook"><img src="" alt=""></div>
  <div class="frontBook"><img src="" alt=""></div> -->
</div>