<div class="x-sign--up" *ngIf="modalAtivo === 'sign_up'">
  <span (click)="abrirModal('fechar')">X</span>
  <!-- <img src="../../assets/img/logo2.png" alt="sucesso"> -->
  <h4>Bem vindo ao CMS | Viajanet</h4>
  <h5>Preencha seu email e aguarde a confirmação do cadastro</h5>
  <input type="text" class="inputs-text2" placeholder="Digite seu e-mail">
  <button class="button1" (click)="abrirModal('sucess_sent')">enviar</button>
</div>