.x-sucess--save{
    width: 500px;
    position: fixed;
    height: 300px;
    background: #fff;
    top: 20%;
    box-sizing: content-box;
    right: 20%;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    box-shadow: 5px 5px 15px rgba(0,0,0, .4);
    animation: @modalShow @hyperRapido linear;
    span{
        position: absolute;
        top: 5px;
        right: 10px;
        font-family: cursive;
        font-weight: bold;
        color: @p-dark;
        cursor: pointer;
    }
    img{
        width: 100px;
        margin-bottom: 30px;
    }
    h4{
        color: @gray-dark;
        font-weight: bold;
        font-family: @serif;
    }
}