<section class="x-login--principal">
  <div class="x-login--principal__container">
      <!-- <h6>Logar</h6> -->
      <h4>login</h4>
      <form [formGroup]="formulario" (ngSubmit)="fazerLogin()">
        <input type="email" [(ngModel)]="username.nome" 
        class="inputs-text2" 
        placeholder="Digite seu login" 
        id="username-primary" 
        formControlName="email" 
        [ngClass]="verificaValidTouched('email')">

        <input type="password" [(ngModel)]="username.senha" class="inputs-text2" placeholder="Digite sua senha" id="password-primary" formControlName="senha"
        [ngClass]="{'has-erro has-feedback': verificaValidTouched('senha')}">
        
        <a (click)="abrirModal('sign_up')">Não tenho cadastro</a>
        <input class="button1" type="submit" value="ACESSAR"/>
      </form>
  </div>
  <app-modal-sign-up></app-modal-sign-up>
  <app-modal-sucess-sent></app-modal-sucess-sent>
</section>
