<section class="x-subMenu" *ngIf="sub_menu === true" [class.is--active__subMenu] = "sub_menu === true">
  <div *ngIf="menu === 'ficcao'" [class.is--active__span] = "menu === 'ficcao'">
      <h4>ficção</h4>
      <span (click)="onselect('fic-cientifica')" [class.is--active__focus] = "select === 'fic-cientifica'">Cientifica</span>
      <span (click)="onselect('Landing Page')" [class.is--active__focus] = "select === 'Landing Page'">Romance</span>
      <span (click)="onselect('Static Page')" [class.is--active__focus] = "select === 'Static Page'">Terror</span>
  </div>

  <div *ngIf="menu === 'didatico'" [class.is--active__span] = "menu === 'didatico'" [style.top.%]="200">
      <h4>didático</h4>
      <span (click)="onselect('White Label')" [class.is--active__focus] = "select === 'White Label'">Cientifica</span>
      <span (click)="onselect('Landing Page')" [class.is--active__focus] = "select === 'Landing Page'">Romance</span>
      <span (click)="onselect('Static Page')" [class.is--active__focus] = "select === 'Static Page'">Terror</span>
  </div>

  <div *ngIf="menu === 'empreendedorismo'" [class.is--active__span] = "menu === 'empreendedorismo'" [style.top.%]="200">
      <h4>empreendedorismo</h4>
      <span (click)="onselect('White Label')" [class.is--active__focus] = "select === 'White Label'">Cientifica</span>
      <span (click)="onselect('Landing Page')" [class.is--active__focus] = "select === 'Landing Page'">Romance</span>
      <span (click)="onselect('Static Page')" [class.is--active__focus] = "select === 'Static Page'">Terror</span>
  </div>

  <div *ngIf="menu === 'historico'" [class.is--active__span] = "menu === 'historico'" [style.top.%]="200">
      <h4>histórico</h4>
      <span (click)="onselect('White Label')" [class.is--active__focus] = "select === 'White Label'">Cientifica</span>
      <span (click)="onselect('Landing Page')" [class.is--active__focus] = "select === 'Landing Page'">Romance</span>
      <span (click)="onselect('Static Page')" [class.is--active__focus] = "select === 'Static Page'">Terror</span>
  </div>

  <div *ngIf="menu === 'leitura-rapido'" [class.is--active__span] = "menu === 'leitura-rapido'">
      <h4>Leitura rápida</h4>
      <span (click)="onselect('White Label')" [class.is--active__focus] = "select === 'White Label'">Tutoriais</span>
  </div>

  <div *ngIf="menu === 'ppc'" [class.is--active__span] = "menu === 'ppc'">
        <h4>PPC</h4>
        <span (click)="onselect('poemas')" [class.is--active__focus] = "select === 'White Label'">Poemas</span>
        <span (click)="onselect('poesias')" [class.is--active__focus] = "select === 'Landing Page'">Poesias</span>
        <span (click)="onselect('composicoes')" [class.is--active__focus] = "select === 'Static Page'">Composições</span>
  </div>

  <div *ngIf="menu === 'contos'" [class.is--active__span] = "menu === 'contos'">
        <h4>Contos</h4>
        <span (click)="onselect('poemas')" [class.is--active__focus] = "select === 'White Label'">Poemas</span>
        <span (click)="onselect('poesias')" [class.is--active__focus] = "select === 'Landing Page'">Poesias</span>
        <span (click)="onselect('composicoes')" [class.is--active__focus] = "select === 'Static Page'">Composições</span>
  </div>
  <div *ngIf="menu === 'espiritualidade'" [class.is--active__span] = "menu === 'espiritualidade'">
        <h4>espiritualidade</h4>
        <span (click)="onselect('poemas')" [class.is--active__focus] = "select === 'White Label'">Poemas</span>
        <span (click)="onselect('poesias')" [class.is--active__focus] = "select === 'Landing Page'">Poesias</span>
        <span (click)="onselect('composicoes')" [class.is--active__focus] = "select === 'Static Page'">Composições</span>
  </div>
<!-- 
  <div *ngIf="menu === 'criar-paginas'" [class.is--active__span] = "menu === 'criar-paginas'">
        <h4>ficção</h4>
        <span (click)="onselect('White Label')" [class.is--active__focus] = "select === 'White Label'">Cientifica</span>
        <span (click)="onselect('Landing Page')" [class.is--active__focus] = "select === 'Landing Page'">Romance</span>
        <span (click)="onselect('Static Page')" [class.is--active__focus] = "select === 'Static Page'">Terror</span>
    </div> -->

  <div *ngIf="menu === 'configuracoes'" [class.is--active__span] = "menu === 'configuracoes'" [style.top.%]="200">
      <h4>configurações</h4>
      <span (click)="onselect('Configuracoes')" [class.is--active__focus] = "select === 'Configuracoes'">Configurações</span>
  </div>
</section>