.inputs-text1{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: @font-color1;
    background-color: @white;
    background-clip: padding-box;
    border: 1px solid @gray-light;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
    outline: none;
    &:focus{
        transition: @hyperRapido;
        box-sizing: border-box;
        box-shadow: 5px 5px 6px rgba(0,0,0,.2);    
    }
}
.inputs-text2{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid @gray-light;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
    outline: none;
    color: @i-color;
    &::-webkit-input-placeholder{
        transition: @muitoRapido;
        color: @gray-light;
    }
    &:focus{
        transition: @rapido;
        box-sizing: border-box;
        border-color: @i-hoverColor;
        color: @i-hoverColor;
        &::-webkit-input-placeholder{
            transition: @muitoRapido;
            color: @i-hoverColor;
        }
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: @p-color;
    transition: background-color 5000s ease-in-out 0s;
}
.has-erro{
    border-bottom: solid 3px @has-erro-color;
    position: relative;
    transition: .4s;
    background-image: url('https://emd-public.nyc3.digitaloceanspaces.com/eusouempreendedor-uploads/X.png');
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 15px;
    color: @has-erro-color;
    &::-webkit-input-placeholder{
        color: @has-erro-color;
        font-weight: bold;
    }
}