// Principais cores do site
@p-color: #f1c40f;
@p-dark: #d6ae0c;
@s-color: #9b59b6;
@s-dark: #8e44ad;
@t-color: #00f;

@black: #000;
@gray: #ccc;
@white: #fff;
@gray-dark:#333;
@gray-light:#ced4da;

// Cores principais fontes
@font-color1: #555;
@font-color2: #999;

// Cores principais sombras
@sombra: rgba(0,0,0,0.9);
@light-sombra: rgba(0,0,0,0.4);

//Background Main
@bg-main: @gray-dark;

//Sub-menu color
@subMenu-color:rgba(51, 51, 51, 0.9);

// Inputs
@i-color: #f1c40f;
@i-hoverColor: #d6ae0c;

// Botões
@btn-color: #f1c40f;
@btn-hoverColor: #d6ae0c;

// Login
@bg-container: rgba(0, 0, 0, .2);
@bg-container-hover: rgba(0, 0, 0, .4);

//has-erro
@has-erro-color: #f00;