<!--The content below is only a placeholder and can be replaced.-->
<app-header *ngIf = "mostrarMenu"></app-header>
<!-- <app-header></app-header> -->
<!-- <main class="x-main" [style.backgroundImage] = "backgroundBody" [style.backgroundColor] = "backgroundColorBody"> -->
<main class="x-main">
  <div class="background-disrupt" *ngIf = "!mostrarMenu">
    <div class="star-small"></div>
    <div class="star-medium"></div>
    <div class="star-large"></div>
    <div class="sun"></div>
    <div class="sun-red"></div>
    <div class="rocket">
      <div class="janela"></div>
      <div class="motores" style="box-shadow: 0px 5px 3px rgba(0,0,0,.2) inset;"></div>
      <div class="motores" style="box-shadow: 0px -5px 3px rgba(0,0,0,.2) inset;"></div>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
<app-footer *ngIf = "mostrarMenu"></app-footer>

