.x-header{
    width: 100%;
    height: 70px;
    background: @gray-dark;
    padding: 10px 20px;
    // box-shadow: -10px 0px 10px @sombra;
    position: relative;
    box-sizing: border-box;
    .align-v();
    &__logo{

    }
    h5{
        font-family: @atomic;
        font-size: @f-header;
        color: @p-color;
    }
    .x-span{
        &--name{
            font-size: @f-xs;
            font-weight: bold;
            border-left: solid 2px @font-color2;
            padding: 0 10px;
            color: @font-color2;
            font-family: @serif;
            margin-left: 30px;
        }
    }
}